<div class="form-control alert-danger col-lg-9" style="text-align:center; width:50%; height:50%; font-size:x-large; margin-top:300px; margin-left:265px">
    Você Não Tem Credenciais Para Esta Página
    Realize O Login
</div>
